<%if (locals.errorMessage) { %>
    <div class="flex justify-center">
        <div class="w-2/5 bg-red-300 text-amber-900 mb-8 rounded-md border-amber-900 p-2 text-sm">
            <%= locals.errorMessage %>
        </div>
    </div>
    <% } %>