<html lang="fr" class="dark">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>AGOrum</title>
</head>
<body class="bg-gradient-to-r from-indigo-950 to-indigo-800 text-white">

  <header class="my-8">
    <div class="container mx-auto">
      <h1 class="text-center text-4xl font-black py-4">AGOrum</h1>
    </div>
  </header>


  <main class="container mx-auto">

    <%- include(`error`) %>
